.configure-container {
    font-size: 16px;
}

.configure-container-title {
    font-size: 24px;
    font-weight: bold;
    overflow: auto;
}

.font-bold {
    font-weight: bold;
}

.font-gray {
    color: #aaa;
}

.padding-row {
    padding: 5px 0;
    border-bottom: 1px solid #999;
}

.font-small {
    font-size: 12px;
}

.configure-input-value {
    width: 100%;
    background-color: #ccc;
    border: none;
}

.configure-input-value:focus-visible {
    outline: none;
}