.price-table table tr th, .price-table table tr td {
    padding: 5px 10px;
    text-align: center;
}

.card-wrapper-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
}

.price-table {
    padding: 0 8px;
}