.wrap-token {
    margin: 20px;
    border-radius: 15px;
    padding: 16px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-wrap {
    margin: 8px 16px;
    padding: 8px;
}

.switch-wrap-btn {
    cursor: pointer;
    color: #aaa;
}

.switch-wrap-btn.selected {
    color: black;
}

.operate-section {
    display: flex;
    flex-direction: column;
}

.wrap-from, .wrap-to {
    background-color: white;
    margin: 8px 16px;
    padding: 16px;
    border-radius: 16px;
}

.name-value {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.name-value .name {
    display: flex;
    align-items: center;
}

.balance {
    color: #aaa;
}

.input-value {
    flex: 1;
    text-align: right;
    border: none;
}

.input-value:focus-visible {
    outline: none;
}

.wrap-btn {
    margin: 8px 16px;
    padding: 6px;
}

.error-text {
    font-style: italic;
    color: red;
    font-size: 16px;
    margin: 4px 0;
}

@media screen and (max-width: 480px) {
    .wrap-token {
      margin: 0px;
    }

    .name-value {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .wrap-from, .wrap-to {
        margin: 8px 0;
        padding: 8px;
    }

    .name-value {
        font-size: 20px;
    }
}